<div class="mythical" style="background-color:#94b985">
<div class="container fluid ml-1 bg-3e7614">
    <div class="card mb-4" style="width:1100px">
      <div class="container fluid card mt-3 mb-4" style="width:1050px ; height:100px;font-size: 13px ; background-color:#e0f2b6">
        <div class="card-body">
          <p class="card-text text-center mb-1 mt-0"><small>Please remember to follow the manual of style and code of conduct at all times.</small></p>
          <p class="card-text text-center mb-1"><small>Our privacy policy has recently been updated, effective September 13th.</small></p>
          <p class="card-text text-center"><small>Check Bulbanews for up-to-date Pokémon news and discuss it on the forums or in the Bulbagarden Discord server.</small></p>
        </div>
      </div>
  <div class="card-body">
    <p class="card-text text-left mr-1"><h3>List of Pokémon by National Pokédex number</h3>
    <p class="card-text text-left"><small>From Bulbapedia, the community-driven Pokémon encyclopedia.</small></p>
    <p class="card-text text-left"><small>This is a list of Pokémon in the order dictated by the National Pokédex, meaning that Pokémon from the Kanto region will appear first, followed by those from Johto, Hoenn, Sinnoh, Unova, Kalos, Alola, Galar, and Hisui. Each region's set of Pokémon starts with its own set of starter Pokémon and their evolutions, going in order of Grass, Fire, Water; the only exception is Unova, which begins with Victini, who is then followed by the starter Pokémon. </small></p>
    <p class="card-text text-left"><small>The first 151 entries in this Pokédex also serve as Kanto's regional Pokédex. In Generation II, this Pokédex order was known as the "Old Pokédex", with a new order that put related Pokémon near each other also included. </small></p>
  </div>
  <div class="container fluid ml-1 justify-content-left">
    <div class="container fluid card" style="width:300px ; font-size: 13px ; background-color:#D3D3D3; margin-left: 8px">
      <div class="card-body ml-1">
        <p class="card-text text-center mb-1 mt-0">Content [hide]</p>
        <p class="card-text mb-1 mt-0">1 List of Pokémon by National Pokédex number</p>
        <p class="card-text mb-1 mt-0">1.1 Generation I</p>
        <p class="card-text mb-1 mt-0">1.2 Generation II</p>
        <p class="card-text mb-1 mt-0">1.3 Generation III</p>
        <p class="card-text mb-1 mt-0">1.4 Generation IV</p>
        <p class="card-text mb-1 mt-0">1.5 Generation V</p>
        <p class="card-text mb-1 mt-0">1.6 Generation VI</p>
        <p class="card-text mb-1 mt-0">1.7 Generation VII</p>
        <p class="card-text mb-1 mt-0">1.8 Generation VIII</p>
        <p class="card-text mb-1 mt-0">1.9 Generation IX</p>
        <p class="card-text mb-1 mt-0">2 See also</p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text text-left mr-1"><h5>List of Pokémon by National Pokédex number</h5>
    <p class="card-text text-left mr-1"><h5>Generation I</h5>
  </div>
  <div class="card" style="height: 330px; width:508px ; background-color:hsl(9, 94%, 52%); margin: auto">
    <div class="card-group" style="height: 25px; width:506px ; background-color:#47cc13">
      <div class="card" style="height: 25px; background-color:#47cc13">
          <p class="card-text mb-1 mt-0">Kdex</p>
      </div>
      <div class="card" style="height: 25px; background-color:#47cc13">
          <p class="card-text mb-1 mt-0">Ndex</p>
      </div>
      <div class="card" style="height: 25px; background-color:#47cc13">
          <p class="card-text mb-1 mt-0">MS</p>
      </div>
      <div class="card" style="height: 25px; background-color:#47cc13">
          <p class="card-text mb-1 mt-0">Pokemon</p>
      </div>
      <div class="card" style="height: 25px; background-color:#47cc13">
          <p class="card-text mb-1 mt-0" >Type</p>
      </div>
  </div>
    <div *ngFor="let image of images" style="height: 100px; width:400px"> 
      <app-poke-card-group Pokemonimg = {{image.Pokemonimg}}
      name = {{image.name}}
      number = {{image.number}}
      type = {{image.type}}>
      </app-poke-card-group>
    </div>
  </div>
</div>
<p class="card-text mb-1 mt-0">.</p>
<p class="card-text mb-1 mt-0">.</p>
</div>