<div class="card-group" style="height: 100px; width:506px ; background-color:#e0f2b6">
    <div class="card">
        <p class="card-text mb-1 mt-0">{{number}}</p>
    </div>
    <div class="card">
        <p class="card-text mb-1 mt-0">{{number}}</p>
    </div>
    <div class="card">
        <img src={{Pokemonimg}} class="card-img-top" alt="Card image" style="height: 100px;">
    </div>
    <div class="card">
        <p class="card-text mb-1 mt-0">{{name}}</p>
    </div>
    <div class="card">
        <p class="card-text mb-1 mt-0" >{{type}}</p>
    </div>
</div>
      