
   <nav class="navbar navbar-expand-lg" style="background-color:hsl(212, 21%, 17%)">
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color:#232c36">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="https://ahost2.bulbagarden.net/Content/bulbagarden/images/bg-logo-green-orig.png" alt="Avatar Logo" style="width:200px;" class="rounded-pill"> 
    </a>
    </div>
    </nav> 
    <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
    <a class="nav-link active text-light" aria-current="page" href="#">News</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Bulbapedia
    </a>
    <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Bulbapedia main page</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Pokemon</a></li>
     <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">National Pokedex</a></li>
    <li><a class="dropdown-item" href="#">By Name</a></li>
    <li><a class="dropdown-item" href="#">Legendary</a></li>
    <li><a class="dropdown-item" href="#">Mythical</a></li>
    <li><a class="dropdown-item" href="#">Event Pokemon</a></li>
    <li><a class="dropdown-item" href="#">Noble Pokemon</a></li>
    <li><a class="dropdown-item" href="#">Gigantimax</a></li>
    <li><a class="dropdown-item" href="#">Alpha Pokemon</a></li>
    <li><a class="dropdown-item" href="#">more...</a></li>
    </ul>
    </li>
    <li class="nav-item">
    <a class="nav-link text-light" href="#">Forums</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-light" href="#">Discord</a>
    </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    More
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Social</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Youtube</a></li>
      <li><a class="dropdown-item" href="#">Twitter</a></li>
      <li><a class="dropdown-item" href="#">Facebook</a></li>
      <li><a class="dropdown-item" href="#">Apps</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Android</a></li>
      <li><a class="dropdown-item" href="#">iOS</a></li>
      <li><a class="dropdown-item" href="#">Other</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Handbook</a></li>
    </ul>
    </li>
    </ul>
    </div>
    </div>
    
  
    <!--Right side-->

    <div class="container-fluid me-1">
        <li class="nav-item dropdown ms-auto">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Editors
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Bulbapedia</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Editor's hub</a></li>
              <li><a class="dropdown-item" href="#">Help</a></li>
              <li><a class="dropdown-item" href="#">FAQ</a></li>
              <li><a class="dropdown-item" href="#">Bulbawiki forum</a></li>
              <li><a class="dropdown-item" href="#">Recent changes</a></li>
              <li><a class="dropdown-item" href="#">Random Page</a></li>
              <li><a class="dropdown-item" href="#">Special Pages</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown me-3">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Bulbapedia login</a></li>
              <li><a class="dropdown-item" href="#">Forum login</a></li>
              <li><p class="dropdown-item">New Accounts</p></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Create Bulbapedia Account</a></li>
              <li><a class="dropdown-item" href="#">Create Forum Account</a></li>
            </ul>
          </li>
          <form class="d-flex me-.1" role="search">
            <input class="form-control" type="search" placeholder="Search Bulbapedia" aria-label="Search">
          </form>
    </div>
  </nav> 
