<div class="container fluid ml-1">
    <div class="card mt-3 mb-4 bg-#e0f2b6" style="width:400px">
      <div class="card-body">
        <h4 class="card-text">LATEST NEWS</h4>
        <img class="card-img-top" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/video-games/_tiles/pokemon-sword-shield/distributions/shiny-eternatus/shiny-eternatus-169-en.jpg" alt="Card image" style="width:100%">
        <p class="card-title">Participating retailers in North America and Asia-Pacific</p>
      </div>
    </div>
</div>    

<div class="container fluid ml-1 bg-3e7614">
  <div class="card mt-3 mb-4" style="width:1100px">
    <div class="container fluid card mt-3 mb-4" style="width:1050px">
      <div class="card-body">
        <p class="card-text text-center mb-1"><small>Please remember to follow the manual of style and code of conduct at all times.</small></p>
        <p class="card-text text-center mb-1"><small>Our privacy policy has recently been updated, effective September 13th.</small></p>
        <p class="card-text text-center"><small>Check Bulbanews for up-to-date Pokémon news and discuss it on the forums or in the Bulbagarden Discord server.</small></p>
      </div>
    </div>
    <div class="container fluid card mt-3 mb-4" style="width:1050px">
      <div class="card-body">
        <h4 class="card-text text-center mb-1">Welcome to Bulbapedia!</h4>
        <p class="card-text text-center"><small>the community-driven Pokémon encyclopedia</small></p>
        <p class="card-text text-center mb-1">Bulbapedia is an encyclopedia about Pokémon to which anyone can contribute. Since its launch in February 2005, it has grown to become one of the largest Pokémon resources on the internet. As part of Bulbagarden, this ever-growing wiki is supported by Bulbanews, Bulbagarden Archives, and the Bulbagarden forums. You're welcome to browse for a while, if you wish, or make an account to start editing pages.        </p>
        <p class="card-text text-center mb-1">We have 46,942 articles on a range of Pokémon-related topics.</p>
        <p class="card-text text-center">If you have any questions, first see the FAQ page. If this doesn't help, find an active staff member. They'll point you in the right direction.</p>
      </div>
    </div>
  </div>
</div>    
