<div class="container fluid ml-1">
  <div class="card-group mt-3 mb-4" style="height: 250px; width:1100px ; background-color:#e0f2b6">
  <div *ngFor="let image of images"> 
    <main-page-card-group ad = {{image.ad}}>
    </main-page-card-group>
  </div>
</div> 
</div> 

<div class="container fluid ml-1 bg-3e7614">
  <div class="card mt-3 mb-4" style="width:1100px  ; background-color:#e0f2b6">
    <div class="container fluid card mt-3 mb-4" style="width:1050px ; height:100px;font-size: 13px">
      <div class="card-body">
        <p class="card-text text-center mb-1 mt-0"><small>{{conductcode}}</small></p>
        <p class="card-text text-center mb-1"><small>{{conductcode2}}</small></p>
        <p class="card-text text-center"><small>{{conductcode3}}</small></p>
      </div>
    </div>
    <div class="container fluid card mt-3 mb-4" style="width:1050px ;  background-color:#faf0e6">
      <div class="card-body">
        <h4 class="card-text text-center mb-1" style="font-size: 30px">{{greeting}}</h4>
        <p class="card-text text-center"><small>{{greeting3}}</small></p>
        <p class="card-text text-center mb-1">{{greeting4}}</p>
        <p class="card-text text-center mb-1">{{greeting5}}</p>
        <p class="card-text text-center">{{greeting6}}</p>
      </div>
    </div>
  </div>
</div>    
