<div class="container fluid ml-1 bg-3e7614">
    <div class="card mt-3 mb-4" style="width:1100px">
      <div class="container fluid card mt-3 mb-4" style="width:1050px ; height:100px;font-size: 13px ; background-color:#e0f2b6">
        <div class="card-body">
          <p class="card-text text-center mb-1 mt-0"><small>Please remember to follow the manual of style and code of conduct at all times.</small></p>
          <p class="card-text text-center mb-1"><small>Our privacy policy has recently been updated, effective September 13th.</small></p>
          <p class="card-text text-center"><small>Check Bulbanews for up-to-date Pokémon news and discuss it on the forums or in the Bulbagarden Discord server.</small></p>
        </div>
      </div>
    <p class="card-text text-left mr-1"><h3>List of Pokémon by National Pokédex number</h3>
    
    </div>